
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #24241f;
        --hr-color: #ffffff;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #ffffff;
        --hr-color: #000000;
    }
}

body {
    min-width: 377px;
    overflow-x: hidden;
    background-color: var(--bg-color);
}

input {
    border: 2px solid #C1C4BE;
    border-radius: 5px;
    padding-left: 5px
}

.themed {
    background-color: var(--hr-color);
}

.parameter_name {
    width: 200px;
    background-color: #ebebe4;
}

.parameter_value {
    width: 250px;
}

div#report_bug {
    text-align: right;
}
div#social_bar {
    display: none;
}

#other_button_options {
  color: #808080;
  font-weight: bold;
  text-decoration: none;
  font-size: smaller;
  cursor: pointer;
}

#csv_link {
  float: left;
  width:50%;
}

#json_link {
  float: left;
  width: 50%;
}

.external_link a:link { color: #808080; font-weight: bold; text-decoration: none; font-size: smaller}
.external_link a:visited { color: #808080; font-weight: bold; text-decoration: none; font-size: smaller}

.main_style { 
    color: #808080; font-weight: bold; text-decoration: none; font-size: smaller
}
